@{
     Layout = "~/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Confirmacion de envio</title>
        <link href="@Href("~/css/style.css")" rel="stylesheet" />
    </head>
    <body>
        <h1>Gracias por registrarse</h1>
        <p>Ahora puedes acceder a todas las encuestas y resultados.</p>
        
    </body>
</html>
