@{
    Layout = "~/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>		
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>Dawemos</title>
        <link href="@Href("~/css/style.css")" rel="stylesheet" />
    </head>
    <body>        
       <h1>Bienvenido al sistema de votaciones de Dawemos</h1>
    </body>
</html>