@{
    Layout = "~/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link href="@Href("~/css/style.css")" rel="stylesheet" />
    </head>
    <body>
        <p>Ya ha realizado su voto en esta encuesta.</p>
        <p>Le animamos a votar en las otras encuestas disponibles</p>
    </body>
</html>
