@{
	Layout = "~/Layouts/_Layout.cshtml";

	var nombreEncuesta = UrlData[0];

	Page.Title = nombreEncuesta;
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Page.Title</title>
        <link href="@Href("~/css/style.css")" rel="stylesheet" />
    </head>
    <body>
        <div id="votacion">
                <form id="formvotar" method="post" action="validaVoto">
                <div id="hueco"></div>      
                <p id="tittabla">Secretar&iacute;a General</p>
                <table id="tablavotar">                           
                    <tr>
                        <td><input type="radio" name="encuesta" value="Eneko Boveda">Eneko B&oacute;veda</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="encuesta" value="Santi Mina">Santi Mina</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="encuesta" value="Paco Alcacer">Paco Alc&aacute;cer</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="encuesta" value="Bruno Soriano">Bruno Soriano</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="encuesta" value="Hector Yuste">H&eacute;ctor Yuste</td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="numenc" value=1></td>
                    </tr>
                    <tr>
                        <td><input type="submit" id="bvotar" value="Votar" style="width:120px; height:30px; margin-left:15px; margin-top:10px;"></td>
                       <!--<td><a href="validavoto.php"><img id="botvotar" src="ima/bvotar2.png"></a></td>-->
                    </tr>
                </table>
                </form>
            </div>
    </body>
</html>
